<div>
  <%= link_to('This month', this_month_path) %> | 
  <%= link_to('Last month', last_month_path) %> |
  <%= link_to('This year', this_year_path) %> |
  <%= link_to('All time', expenses_report_path) %>
</div>