<h1>Expenses Report</h1>

<%= render "shared/date_filter" %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |row| %>
      <tr>
        <td><%= row[0].name %></td>
        <td><%= number_to_currency(row[1]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Expenses', expenses_path %>