<h1>Expenses Report</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @datas.each do |data| %>
      <tr>
        <td><%= data[0].name %></td>
        <td><%= data[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Expenses', expenses_path %>